// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --el-color-primary: #4B9E5F !important;
  --el-color-primary-light-3: #8EBD91 !important;
  --el-color-primary-light-5: #a2d2b6 !important;
  --el-color-primary-light-7: #bdded1 !important;
  --el-color-primary-light-8: #cfecdf !important;
  --el-color-primary-light-9: #e0f6eb !important;
  --el-color-primary-dark-2: #4b9175 !important;
}
