// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {

  // 橙色
  //--el-color-primary: #ffca39 !important;
  //--el-color-primary-light-3: #fcd057 !important;
  //--el-color-primary-light-5: #f8d77c !important;
  //--el-color-primary-light-7: #fce5a7 !important;
  //--el-color-primary-light-8: #fdefc9 !important;
  //--el-color-primary-light-9: #fcf3dc !important;
  //--el-color-primary-dark-2: #e3b432 !important;

  // 紫色
  //--el-color-primary: #626aef !important;
  //--el-color-primary-light-3: #99a1ff !important;
  //--el-color-primary-light-5: #b3bbff !important;
  //--el-color-primary-light-7: #ccd2ff !important;
  //--el-color-primary-light-8: #d9dcff !important;
  //--el-color-primary-light-9: #e6e7ff !important;
  //--el-color-primary-dark-2: #4c54be !important;

  // 绿色
  --el-color-primary: #71B175 !important;
  --el-color-primary-light-3: #8EBD91 !important;
  --el-color-primary-light-5: #b8c7ab !important;
  --el-color-primary-light-7: #dcecc2 !important;
  --el-color-primary-light-8: #e8f6d7 !important;
  --el-color-primary-light-9: #eefaef !important;
  --el-color-primary-dark-2: #5a864b !important;
}
